body {
    width: 300px;
    height: auto;
    background-color: black;
}

.octicon {
    margin-left: 10px;
    margin-top: 5px;
    filter: invert(100%);
    /* background-color: white; */
}

#github {
    position: relative;
    top: -10px;
    color: white;
    background-color: rgb(33, 33, 33);
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 230px;
}